
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin:  0;
    text-decoration: none;
    list-style: none;


}

@media only screen and (min-width: 1200px) {

    body{
        height: 100vh;
        width: 100vw;
    }
    
    
}

@media screen and (max-width: 800px){
    body{
        height: 100vh;
        width: 100vw;
    }

}

@media only screen and (min-width: 1200px) {
 nav{
    margin-bottom: 120px;
   

 }
}
@media screen and (max-width: 800px){
    nav{
        margin-bottom: 100px;
       
    
     }
    }

@media only screen and (min-width: 1200px) {
.navigatonBar{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: #000000 solid 1px;
    /* position: fixed;
    top: 0; */   
}
}
@media screen and (max-width: 800px){
    .navigatonBar{
        min-width:100% ;
        height: 120px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: #000000 solid 1px;
        
    }
    }
@media only screen and (min-width: 1200px) {
.navigatonBar .logo{
    font-size: 30px;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Oleo Script', cursive;
    width: 165px;
    height: 50px;
    top: 45px;
    left: 150px;
}
}
@media screen and (max-width: 800px){
    .navigatonBar .logo{
        font-size: 25px;
        font-family: 'Inter Tight', sans-serif;
        font-family: 'Oleo Script', cursive;
        /* width: 165px;   
        height: 50px; */
        top: 45px;
        left: 150px;
        padding: 0 0 0 420px;
    }
    }

@media only screen and (min-width: 1200px) {
.navigatonBar .panelPage ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-decoration: none;
    width: 640px;
    height: 50px;
    top: 45px;
    left: 497px;
}
}
@media screen and (max-width: 800px){

    .navigatonBar .panelPage ul{
        display:flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
        gap: 20px;
        text-decoration: none;
        width: 640px;
        height: 50px;
        /* top: 45px;
        left: 497px; */
    }
    }

@media only screen and (min-width: 1200px) {
.navigatonBar .panelPage ul .page{
    font-size: 20px;
    font-family: Space Grotesk;  
}
}

@media screen and (max-width: 800px){
    .navigatonBar .panelPage ul .page{
        font-size: 17px;
        font-family: Space Grotesk;  
    }
    }
    

@media only screen and (min-width: 1200px) {
.navigatonBar .panelPage ul .page a{
    color: #000000;
}
}
@media screen and (max-width: 800px){
    .navigatonBar .panelPage ul .page a{
        color: #000000;
    }
    }

@media only screen and (min-width: 1200px) {
.navigatonBar .btn{
    justify-content: center;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 10px 0 10px 10px;
    border-radius: 10px;
}
}

@media screen and (max-width: 800px){
    .navigatonBar .btn{
        justify-content: center;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        width: 130px;
        height: 50px;
        font-size: 18px;
        padding: 10px 0 10px 10px;
        border-radius: 10px;
    }
    }

    @media screen and (max-width: 800px){
        #mybtn{
            padding-right: 70%;
        }
    }

@media only screen and (min-width: 1200px) {
.navigatonBar .btn:hover {
	border:1px solid #fff;
    background:#000000;
    color:#ffffff;
}
}
@media screen and (max-width: 800px){
    .navigatonBar .btn:hover {
        border:1px solid #fff;
        background:#000000;
        color:#ffffff;
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 160px 0 160px;
}
}

@media screen and (max-width: 800px){
    .Hero-section{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px 0 100px;
}
}

@media only screen and (min-width: 1200px) {
.Hero-section .h-right{
    width: 50%;
    
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-right{
        width: 100%;
        
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-left{
    width: 50%;

}
}
@media screen and (max-width: 800px){
    .Hero-section .h-left{
        width: 100%;
    
    }
    }




@media only screen and (min-width: 1200px) {
.Hero-section .h-right h3{
    font-family: Space Grotesk;
    color: #0F298B;
    font-size: 80px;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: normal;
    
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-right h3{
        font-family: Space Grotesk;
        color: #0F298B;
        font-size: 70px;
        margin-bottom: 20px;
        overflow: hidden;
        white-space: normal;
        width: 100%;
        
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-right p{
    font-family: space Grotesk;
    font-size: 40px;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-right p{
        font-family: space Grotesk;
        font-size: 35px;
        margin-bottom: 20px;
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-right .btn_holder{
    display: flex;
    gap: 70px;
    text-align: center;
   

}
}
@media screen and (max-width: 800px){
    .Hero-section .h-right .btn_holder{
        display: flex;
        gap: 70px;
        text-align: center;
        margin-bottom: 50px;
       
    
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-right .btn_holder .btn{

    width: 180px;
    height: 60px;
    border-radius: 10px;
}
}

@media screen and (max-width: 800px){
    .Hero-section .h-right .btn_holder .btn{

        width: 180px;
        height: 60px;
        border-radius: 10px;
        font-size: 20px;
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-right .btn_holder i{
    font-size: 50px;
    color:#04196e;
    cursor: pointer;
}
}

@media screen and (max-width: 800px){
    .Hero-section .h-right .btn_holder i{
        font-size: 50px;
        color:#04196e;
        cursor: pointer;
    }
    }
@media only screen and (min-width: 1200px) {
.Hero-section .h-right .btn{
    font-size: 25px;
    font-family: Space Grotesk;
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-right .btn{
        font-size: 25px;
        font-family: Space Grotesk;
    }
    }


@media only screen and (min-width: 1200px) {
.Hero-section .h-right .btn:hover {
	border:1px solid #fff;
    background:#000000;
    color:#ffffff;
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-right .btn:hover {
        border:1px solid #fff;
        background:#000000;
        color:#ffffff;
    }
    }
    

@media only screen and (min-width: 1200px) {
.Hero-section .h-left .image_holder{
    width: 720px;
    height: 500px;

    
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-left .image_holder{
        width: 720px;
        height: 500px;
    
        
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-left .image_holder img{
    width: 100%;
    height: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-left .image_holder img{
        width: 100%;
        height: 100%;
        background-position: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-left .image_holder .circle{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color:#2549D3;
    top: 715px;
    left: 1100px;
    position: absolute;
}
}

@media screen and (max-width: 800px){

    .Hero-section .h-left .image_holder .circle{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color:#2549D3;
        top: 715px;
        left: 120px;
        position: absolute;
    }
    }

@media only screen and (min-width: 1200px) {
.Hero-section .h-left .image_holder .circle1{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color:#ffffff;
    top: 750px;
    left: 1150px;
    position: absolute;
}
}
@media screen and (max-width: 800px){
    .Hero-section .h-left .image_holder .circle1{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color:#ffffff;
        top: 750px;
        left: 100px;
        position: absolute;
    }
    }

@media only screen and (min-width: 1200px) {
.searchContainer{
    width: 1300px;
    height: 160px;
    background-color: #ffffff 1px;
    box-shadow:0 0 px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border:#04196e 1px solid;
    box-shadow: 0 0 3px;
}
}
@media screen and (max-width: 800px){
    .searchContainer{
        width: 95%;
        height: 500px;
        background-color: #ffffff 1px;
        box-shadow:0 0 px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        border:#ffffff 1px solid;
        box-shadow: 0 0 2px;
    }
    }