@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin:  0;
    text-decoration: none;
    list-style: none;


}
@media screen and (min-width: 640px) { 

    body{
        height: 100vh;
        width: 100vw;
    }
    
    
}

@media screen and (max-width: 960px){
    body{
        height: 100vh;
        width: 100vw;
    }

}

@media screen and (max-width: 1100px){
    body{
        height: 100vh;
        width: 100vw;
    }

}

@media (min-width: 640px) { 

    .main-cont{
        height: 100%;
        width: 100%;
        background-color:#0F298B;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
}

@media screen and (max-width: 1200px){
    .main-cont{
        height: 100%;
        width: 100%;
        background-color: #0F298B;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 640px) { 
    .main-cont .log-container{
        width: 100%;
        height: 70%;
        background-color: #ffffff;
        display: grid;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
} 
        

@media only screen and (min-width: 1200px) {
    .main-cont .log-container{
        height: 70%;
        width: 40%;
        background-color: #ffffff;
        display: grid;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
    }

}



@media (min-width: 640px) { 
    .main-cont .log-container .logo{
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Oleo Script;
        font-size: 60px;
        width: 500px;
        height: 50px;
    
    } 
}
        

@media only screen and (min-width: 1200px) {
    .main-cont .log-container .logo{
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Oleo Script;
        font-size: 40px;
       
    } 
}

@media (min-width: 640px) { 
    .main-cont .log-container .placeHolder input{
        
        
        width: 100%;
        height: 60px;
        margin: 0 0 50px 0;
        padding-left: 20px;
        border-radius: 10px;
        border: #000000 3px solid;
    }
}
@media only screen and (min-width: 1200px) {
    .main-cont .log-container .placeHolder input{
        
        
        width: 100%;
        height: 60px;
        margin: 0 0 50px 0;
        padding-left: 20px;
        border-radius: 10px;
        border: #000000 3px solid;
        outline: none;
    }
}

@media (min-width: 640px) { 
    .main-cont .log-container .mybtn{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        
    }
}
    
  
@media (min-width: 1200px) { 
    .main-cont .log-container .mybtn{
        display: flex;
        gap: 50px;
        justify-content: center;
        align-items: center;
        
    }
}
    
@media (min-width: 640px) { 
    .main-cont .log-container .btn{
       width: 200px;
       height: 60px;
       border-radius: 10px;
       outline: none;
       font-size: 20px;
       position: relative;
       bottom: 100px;
    }
}

@media (min-width: 1200px) { 
    .main-cont .log-container .btn{
       width: 200px;
       height: 60px;
       border-radius: 10px;
       outline: none;
       font-size: 20px;
       position: relative;
       bottom: 100px;
    }
}


    
    